.btn {
    height: 4.75rem;
    margin: 0 1rem;
    padding: 0 4.344rem;
    font-size: 1.5rem;
    border: 2px #000000 solid;
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #000000;
    color: #ffffff;
}